<<<<<<< HEAD
<div class="ui two stackable cards">
  {{#each goup as |group|}}
    <div class="card">
      <div class="image">
        <img src={{ group_image }} />
      </div>
      <div class="content">
        <a class="header" href="/group/{{ id }}">{{ group_name }}</a>
      </div>
    </div>
  {{/each}}
=======
<div class="card">
  <div class="image">
    <img src={{group_image}} />
  </div>
  <div class="content">
    <a class="header" href="/group/{{id}}">{{group_name}}</a>
  </div>
>>>>>>> 0301aa1a17824ce442c4b678cebf5021ea59c54e
</div>