<div class="ui mini breadcrumb">
  <a class="section" href="/">Home</a>
  <i class="right chevron icon divider"></i>
  <a class="section" href="/groups/{{post.group_id}}">{{post.group.group_name}}</a>
  <i class="right chevron icon divider"></i>
  <div class="active section">{{ post.post_title}}</div>
</div>

<div class="ui items">
  <div class="item">
    {{#if hasImage}}
    <div class="image">
      <img src="{{ post.post_image }}">
    </div>
    {{/if}}
    <div class="content">
      <a class="header">{{ post.post_title }}</a>
      <div class="meta">
        <span>{{ post.user.username }}</span>
      </div>
      <div class="description">
        <p>{{ post.post_text }}</p>
      </div>
      <div class="extra">
        {{format_date post.created_at }}
      </div>
    </div>
  </div>

<div class="ui comments">
  <h3 class="ui dividing header">Comments</h3>
  {{#each post.comments as |comment|}}
  {{> comment comment}}
  {{/each}}
  
  {{#if loggedIn}}
  <form id="comment-form" class="ui form">
    <div class="field">
      <textarea name="comment-body"></textarea>
    </div>
    <button class="ui button" type="submit">Add Comment</button>
  </form>
  {{/if}}

</div>

{{#if loggedIn}}
<script src="../javascript/add-comment.js"></script>
{{/if}}
